<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MainProjectMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <nav class="navbar navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="/images/tickets.jpg" alt="tickets" width="30" height="24"><b> AD TECH</b>
                        </a>
                    </div>
                </nav>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar nav-link text-dark">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StudValues" asp-action="Index">StudentsDetails</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center bg-body-tertiary">
        <div class="container pt-3">
            <section>
                <!-- Google -->
                <a data-mdb-ripple-init
                   class="btn btn-link btn-floating btn-lg text-body m-1"
                   target="_blank" href="https://www.techneurons.com/#s1"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <img src="/Images/google-logo.png" alt="google" width="30" height="24">
                </a>
                <!-- Instagram -->
                <a data-mdb-ripple-init
                   class="btn btn-link btn-floating btn-lg text-body m-1"
                   target="_blank" href="https://www.instagram.com/techneurons/?hl=en"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <img src="/images/instagram-logo.png" alt="instagran" width="30" height="24">
                </a>
                <!-- Linkedin -->
                <a data-mdb-ripple-init
                   class="btn btn-link btn-floating btn-lg text-body m-1"
                   target="_blank" href="https://in.linkedin.com/company/techneuron"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <img src="/images/linkedin-logo.png" alt="linkedin" width="30" height="24">
                </a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); font-size:smaller">
            <marquee direction="right">&copy;2024 ADTECH[India] All rights reserved</marquee>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
