@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Welcome to TECHSchool.Com</h1>
    <p>Learn about the New Technologies <a href="https://www.techneurons.com/#s1">with TECH School</a>.</p>
    <img class="img-fluid" src="/Images/techimg.jpg" alt="TECHSchool" width="1000" height="1000">
</div>
